html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.e-bigger{
    font-size:x-large;
}

/*radio btn group*/
.e-btn-group.custom-rbt-group{
    width:100%;
}
    .e-btn-group.custom-rbt-group .e-btn {
        width: 50%;
    }

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: white;
    color:black;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #0d6efd;
    color: white;
    border: 1px solid #fff;
}

.card {
    border-radius: 1rem;
    background-color: #ede9e8;
}

/*Button*/
.btn:focus, .btn:active{
    outline: none !important;
    box-shadow:none;
}

/*.hyperlink*/
.no-a-decoration, .no-a-decoration:hover{
    text-decoration: none;
    color: inherit;
}
